body{
    font-family: sans-serif;
    background-color: #1e1e1e;
    color:#eaeaea;
}
h1, p{
    color:#eaeaea;
}
.end{
    height: 40px;
    width: 40px;
    background-color: #444444;
    border-radius: 90px;
}
header h2{
    text-align: left;
}
.hh{
    height: 90px;
    width: 90px;
}
p{
    text-align: center;
}
header h1{
    text-align: center;
    border-radius: 10px;
    background-color: #444444;
}
main table{
    text-align: center;
    margin: auto;
    background-color: #333333;
    width: 700px;
}
main table img{
    height: 40;
    width: 40;
}
main table a{
    text-decoration: none;
    color: #eaeaea;
}
.tch{
    text-align: center;
    color: #a2a2a2;
}